<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kazmasaurus.alfred.things</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08470601-2B00-4FC4-AC96-6E038B243C29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBB7C342-5E0B-4253-952D-6469427008E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEAA328B-07C2-46F1-97DA-BCA5900DF425</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBB7C342-5E0B-4253-952D-6469427008E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA37DC11-5E3D-447A-9106-A8E436909288</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBB7C342-5E0B-4253-952D-6469427008E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zak</string>
	<key>description</key>
	<string>Open it</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Things</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Things3.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>DBB7C342-5E0B-4253-952D-6469427008E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>things</string>
				<key>subtext</key>
				<string>What's next?</string>
				<key>text</key>
				<string>Things</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>08470601-2B00-4FC4-AC96-6E038B243C29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>Things</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AEAA328B-07C2-46F1-97DA-BCA5900DF425</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>twitter</string>
				<key>subtext</key>
				<string>Save yourself</string>
				<key>text</key>
				<string>Twitter</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA37DC11-5E3D-447A-9106-A8E436909288</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>To hide the actual version of the app:
- Add `alfred:ignore` to it's 'Get Info &gt; Comments'

I think you also need to:
- reindex the file with spotlight: `mdimport PATH`
- "Reload" alfred cache

You may also need to (but I don't believe so):
- Set the comment through an applescript: 
	tell application "Finder" to set comment of (POSIX file "PATH" as alias) to "alfred:ignore"</string>
	<key>uidata</key>
	<dict>
		<key>08470601-2B00-4FC4-AC96-6E038B243C29</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>AEAA328B-07C2-46F1-97DA-BCA5900DF425</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>DBB7C342-5E0B-4253-952D-6469427008E2</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>EA37DC11-5E3D-447A-9106-A8E436909288</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
